@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Gloock&family=Oswald:wght@200&family=Roboto:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
  margin:0;
}

body {
  background: #faf7e8;
}

header{
  background: black;
  width: 100%;
  height: 70px;
  position: fixed;
}

#site_name{
  margin-left: 5%;
  font-family: 'Gloock';
  font-size: 25px;
  float: left;
  color: white;
}

.site_login_navi{
  float:right;
  margin-right: 5%;
  font-family: "Roboto";
}

.site_login_navi ul li{
  list-style: none;
  display: block;
  text-align: center;
  line-height: 70px;
  float: left;
  width:100px;
  color: white;
}

.site_login_navi ul li a{
  color: white;
}


.site_login_navi ul li a:hover {
  color: #968d0f;
}

.site_login_navi ul li .active_login_link{
  color: black;
  display:block;
  background-color: #e8bec4;
  width:100px;
  height: 65px;
  margin-right: 100px;
  border-bottom: 5px solid blue;
}


bottom{
  background: black;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0px;
  border-width: 3px;
  border-color: red;
  color: white;
  text-align: center;
  margin-top: 5%;
  float: left;
}

bottom h4{
    font-family: "Roboto";
}

main{
  display: block;
  width: 64%;
  margin-right: 18%;
  margin-top: 30px;
  margin-bottom: 5%;
  background: #faf7e8;
  height:1000px;
  float: right;
  /* border: 2px black solid; */
  border-radius: 5px;
}

.main_navi{
  float:right;
  font-family: "Roboto";
  margin-right:37%;
  margin-top: 80px;
  display: inline-block;
}

.main_navi ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  float: left;
  margin-left: 30px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px black solid;
  margin-top: 20px;
  width:150px;
}

.main_navi ul li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  width:150px;
  height: 30px;
  background: #0b5266;
  font-size: 18px;
  border-radius: 5px;
  float:left;
}

.main_navi ul li:last-child{
  margin-right: 60px;
}

.main_navi ul li a:hover {
  background: #0c6c87;
  color: black;
}

.main_navi ul li .active_main_navi{
  color: black;
  background-color: #e8bec4;
}

.main_navi ul li .active_main_navi:hover{
  color: white;
  background-color: #e8bec4;
}

.searching_item{
    display: block;
    float:left;
    margin-top: 20px;
}

.searching_item input{
  display: block;
  float:left;
  background: white;
  margin-left: 40px;
  height: 25px;
  width: 200px;
  border: 1px black solid;
  line-height: 25px;
  font-size: 18px;
}

.searching_item button{
  display: block;
  float:left;
  background: #deba07;
  margin-left: 40px;
  height: 30px;
  width: 100px;
  border: 1px black solid;
  border-radius: 5px;
  line-height: 25px;
  font-size: 18px;
}

.searching_item button:hover{
  cursor: pointer;
}


.searching_item label{
  display: block;
  float:left;
  margin-left: 50px;
  font-size: 18px;
}

 #label_search_by_date{
  margin-left: 0;
}

#add_item{
  /* border: 1px solid black; */
  font-size: 18px;
  margin-top: 10px;
  margin-left: 350px;
}

#add_item p{
  display: block;
  /* border: 1px solid black; */
  width: 250px;
  height: 30px;
  float: left;
  line-height: 30px;
}


.button_add_item{
  /* display: block; */
  width: 150px;
  height: 25px;
  margin-top: 2px;
  background: #65ba91;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  float: left;
}

.button_add_item:hover{
  cursor: pointer;
}

.h4_list_of_brands{
  display: block;
  width: 200px;
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 20px;
  text-align: center;
}

#list_of_brands{
  /* border: 1px solid black; */
  text-align: center;
  margin-top: -100px;
  margin-left: 200px;
}

#list_of_items{
  /* border: 1px solid black; */
  text-align: center;
  margin-top: -100px;
  margin-left: 15px;
}

#list_of_items .very_long_th, #list_of_brands .very_long_th{
  width:200px;
  font-size: 18px;
  font-family: "Quicksand";
  border: 1px solid black;
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}


#list_of_items .long_th, #list_of_brands .long_th{
  width:150px;
  font-size: 18px;
  font-family: "Quicksand";
  border: 1px solid black;
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}

#list_of_items .middle_th, #list_of_brands .middle_th{
  width:100px;
  font-size: 18px;
  font-family: "Quicksand";
  border: 1px solid black;
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}

#list_of_items .button_th, #list_of_brands .button_th{
  width:100px;
  font-size: 18px;
  font-family: "Quicksand";
  border: 1px solid black;
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
  border: none;
}

#list_of_items .short_th, #list_of_brands .short_th{
  width:60px;
  font-size: 18px;
  font-family: "Quicksand";
  border: 1px solid black;
  display: block;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}

#list_of_items th, #list_of_brands th{
  background: #09384f;
  color: white;
}

.button_edit_item{
  /* display: block; */
  width: 80px;
  height: 25px;
  margin-top: -5px;
  background: #72c1e8;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
}

.button_delete_item{
  /* display: block; */
  width: 80px;
  height: 25px;
  margin-top: -5px;
  background: red;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
}

#list_of_items button:hover, #list_of_brands button:hover{
  cursor: pointer;
}

.add_item_fields{
  display: block;
  border: 1px black solid;
}

.main_add_page{
  display: block;
  width: 64%;
  margin-right: 18%;
  margin-top: 90px;
  margin-bottom: 5%;
  background: #faf7e8;
  height:1000px;
  float: right;
}

.form_add_item_fields{
  display: block;
  width: 300px;
  margin-left: 33%;
  margin-top: 50px;

}

.label_for_add_form{
  display: block;
  width: 300px;
  height: 30px;
  float: left;
  font-family: "Quicksand";
  font-weight: 1000;
  text-align: center;
  line-height: 30px;
  margin-top: 30px;
}

.field_for_add_form{
  display: block;
  width: 300px;
  height: 25px;
  float: left;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.button_for_add_form{
  display: block;
  width: 300px;
  height: 25px;
  float: left;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 100px;
  text-align: center;
  background: #65ba91;
}

/* .main_list_of_brands_page{
  display: block;
  width: 64%;
  margin-right: 18%;
  margin-top: 90px;
  margin-bottom: 5%;
  background: #faf7e8;
  height:1000px;
  float: right;
} */
